
.Maintitle {
    font-size: clamp(40px, calc(5vw + 16px), 50px) !important;
    font-weight: 800 !important;
    line-height: 1 !important;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto !important;   
    margin-bottom: 30px !important;
}

.productCard {
    margin-bottom: 40px !important;
}

.grid > * {
    padding: 10px !important;
    margin-left: 30px !important;
    /* margin-bottom: 10px !important; */
}

.link {
    text-decoration: none !important;
    color: #fff !important;
}

.name {
    margin-top: 0 !important;
}

.name,
.price {
    font-weight: 700 !important;
}

.btn {
    margin-left: 40px !important;
    /* width: 100px !important; */
}

.btn > * {
    font-weight: 600 !important;
    /* padding: 0 10px !important; */
}


@media (min-width: 720px) {

    .container {
        height: 100vh !important;
    }
}

@media (max-width: 720px) {

    .btnContainer {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-left: 0 !important;
    }

    .btn {
        margin: 20px 0 !important;
    }

    .btn > * {
        padding: 4px 14px !important;
        font-size: 14px !important;
    }
}