.container {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.9), 
        rgba(255, 255, 255, 0.9)), 
        url('/assets/images/bg-image.jpg');
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center center;
}

.hero {
    position: relative;
    padding: 140px 0;
    height: 100vh;
}

.primaryTitle {
    font-size: 70px !important;
    font-size: clamp(48px, calc(5vw + 16px), 72px) !important;
    font-weight: 900 !important;
    line-height: 1 !important;
    text-transform: uppercase;
    text-shadow: 0 0 2em #fff !important;
}

.image {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10%, 50%);
    width: 55% !important;
}

@media (max-width: 720px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image {
        position: static;
        width: 90% !important;
        margin-top: -50px;
    }
}