.container {
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 720px) {
    .container {
        height: 80vh !important;
    }
}

@media (max-width: 720px) {
    .heading {
        font-size: 40px !important;
    }
}
