.Maintitle {
    font-size: clamp(40px, calc(5vw + 16px), 50px) !important;
    font-weight: 800 !important;
    line-height: 1 !important;
    text-transform: uppercase;
    text-align: center;
    margin: 40px auto !important;   
    margin-bottom: 60px !important;
}

.grid > * {
    padding: 10px !important;
    margin: 5px !important;
    margin-bottom: 20px !important;
}

.link {
    text-decoration: none !important;
    color: #fff !important;
}